<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Geo Varghese</author>
	<label>Link Diagnosis</label>
	<description>Link Diagnosis will help you to get a complete detailed report about your backlinks and you can also easily track the backlinks of your competitors.</description>
	<version>3.1.0</version>
	<website>http://www.seopanel.in/plugin/l/3/link-diagnosis/</website>	
</plugin>
