<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Geo Varghese</author>
	<label>Directory Importer</label>
	<description>Will help to import your own directories to Seo Panel</description>
	<version>1.3.2</version>
	<website>http://www.seopanel.in/plugin/l/10/directory-importer/</website>	
</plugin>
