<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Geo Varghese</author>
	<label>Social Media Manager</label>
	<description>The plugin used to send status updates to the popular social media websites like facebook, LinkedIn, Twitter, and Pinterest</description>
	<version>3.0.0</version>
	<website>http://www.seopanel.in/plugin/l/23/social-media-engine/</website>	
</plugin>