<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Geo Varghese</author>
	<label>Membership Subscription</label>
	<description>Membership subscription plugin for seo panel with payment gateways integrated.</description>
	<version>2.2.0</version>
	<website>http://www.seopanel.in/plugin/l/65/membership-subscription/</website>	
</plugin>
