<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Seo Panel</author>
	<label>Customizer</label>
	<description>Plugin used to customize seo panel software logo, site name, style sheet, meta tags, menu, hoem page, support page etc</description>
	<version>4.2.0</version>
	<website>https://www.seopanel.in/plugin/l/110/customizer/</website>
</plugin>
