<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Seo Panel</author>
	<label>Article Submitter and Spinner</label>
	<description>It will help you to create article and submit it to directories and blogs.</description>
	<version>1.1.0</version>
	<website>https://www.seopanel.org/plugin/l/119/article-submitter-and-spinner/</website>	
</plugin>
