<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Geo Varghese</author>
	<label>Blog Commentor</label>
	<description>Will help you to automatically add comments to different blogs using a keyword search</description>
	<version>2.4.0</version>
	<website>http://www.seopanel.in/plugin/l/12/blog-commentor/</website>	
</plugin>
