<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Geo Varghese</author>
	<label>Bulk Rank Checker</label>
	<description>Will help you to track the position of keyword for many links at a time using a campaign</description>
	<version>2.2.0</version>
	<website>http://www.seopanel.in/plugin/l/49/bulk-rank-checker/</website>	
</plugin>
