<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Geo Varghese</author>
	<label>Newsletter</label>
	<description>This plugin will help you to send email newsletters to your customers with subscribe and unsubscribe feature</description>
	<version>1.2.0</version>
	<website>http://www.seopanel.in/plugin/l/19/newsletter/</website>	
</plugin>
