<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Geo Varghese</author>
	<label>Social Bookmarker</label>
	<description>Using Social Bookmarker plugin you can easily share your links to famous social networking sites like facebook, twitter, linkedin etc.
There are about 150 social networking sites are available with this plugin. It will help you to submit your links to these sites with in a short period of time.</description>
	<version>1.2.0</version>
	<website>http://www.seopanel.in/plugin/l/18/social-bookmarker/</website>	
</plugin>
