<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Seo Panel</author>
	<label>Captcha Bypass</label>
	<description>Captcha Bypass Plugin used to bypass captcha of directory submission</description>
	<version>1.1.0</version>
	<website>https://www.seopanel.in/plugin/l/114/captcha-bypass/</website>
</plugin>
